welcome-screen {

    ion-content.content-md {
        background-color: transparent;

        #rt-logo{
            width: 50%;
            margin: 0 25%;
            position: absolute;
            top: 7vh;
            
            h3{
                font-family: caslon3-bd !important;
                margin: 0px;
                font-size: 26px;
            }
            #rt-logo-img{
                margin-top: 5px;
                height: 125px;
                width: 110px;
                background: url("../assets/imgs/rt-logo.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        #welcome {
            width: 80%;
            margin: 0 10%;
            position: absolute;
            top: 46vh;

            h1{
                font-weight: 400;
                font-size: 5vh;
            }
            .lighter-text{
                font-weight: 300;
                font-size: 4vh;
            }
        }

    }
    .center {
        text-align: center;
        margin: auto;
      }

      .back-background{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: lightgray;
        z-index: -15;
      }

      .background-image{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: url("../assets/imgs/students.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -10;
        filter: blur(2px);
        -webkit-filter:  blur(2px);
        -moz-filter:  blur(2px);
        opacity: 0.2;

    }

    .register-button{
        background-color: map-get($colors, danger);
        width: 90%;
        margin: 0 5%;
        position: absolute;
        bottom: 8vh;
    }
     
}
