home-banner {
  text-align: center;

  .back-background {
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: map-get($colors, danger);
    z-index: -15;
  }

  .background-image {
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../assets/imgs/events.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    opacity: 0.5;
    z-index: -10;
  }

  .claim {
    text-align: left;
    padding: 20px 30px;
    color: white;
    font-size: 25px;
    font-weight: 700;

    .sub-claim {
      font-weight: 300;
    }
  }

  .line {
    margin: 16px 0;
    height: 1px;
    width: 50px;
    background-color: white;
  }

  .input-item {
    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0 5%;
    width: 90%;
    height: 56px;
    top: 172px;
    box-shadow: 4px 2px 40px map-get($colors, dark);
    border-radius: 5px;

    .item-inner {
      padding-right: 0 !important;
      border: 0 !important;
    
    .label {
      margin: 0;

      .row {

      #input{
        text-align: left;
        font-size: 18px !important;
        padding-left: 8px;

        input{
          height: 100% !important;
        }
      }

        #search-button {
          background-color: map-get($colors, google-gray);
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding-top: 2px;
          height: 56px;

          ion-icon {
            color: white;
            z-index: 30;
            position: relative;
            top: 14px;
            font-size: 25px;
          }
        }
      }
      }
    }
  }
}
