<!-- Generated template for the HorizontalScrollEventsComponent component -->
<div class="cont">

  <ion-item no-lines>
    <h3>{{title | translate}}</h3>
    <span (tap)="seeAll()" item-end>{{'SEE_ALL' | translate}}</span>
    <ion-icon class="arrow-icon" name="ios-arrow-forward" item-end> </ion-icon>
  </ion-item>

  <ion-scroll class="scroll-window" scrollX="true" direction="x">
    <ion-row nowrap>
      <div *ngFor="let event of events; let idx = index">
        <scroll-event [event]="event"></scroll-event>
      </div>
    </ion-row>
  </ion-scroll>
  

</div>