horizontal-scroll-events {
  .cont {
    width: 100%;
    height: 254px;

    .item {
      background-color: transparent;

      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        color: map-get($colors, danger);
        font-weight: 500;
      }
      span {
        font-size: 14px;
        font-weight: 500;
      }
      .arrow-icon {
        color: map-get($colors, google-gray);
        font-size: 20px !important;
        padding-top: 3px;
      }
    }

    .scroll-window {
      height: 215px;
      .scroll-content{
        padding: 0 16px;
      }
    }
  }
}
