main-event {

    .main-event {

        height: 210px !important;
        text-align: center;
        margin: 10px 16px 20px 16px;
        
        ion-card {
            height: 100% !important;
            display: inline-block;
            border-radius: 20px !important;
            background-size: cover !important;
            margin: 0;
            padding-left: 24px;
            text-align: left;
            box-shadow: 5px 5px 25px -6px #222 !important;

            h2 {

                position: relative;
                top: 100px;
                font-weight: 500;
                font-size: 30px;
                color: white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-shadow: 2px 5px 5px black;
            }

            p {
                position: relative;
                top: 100px;
                font-weight: 300;
                font-size: 15px;
                color: white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-shadow: 2px 5px 5px black;
            }
        }
    }
}
