.app-tabs {
    
    &>.tabbar {

        a.tab-button {
            color  : map-get($colors, primary);
            padding: 0px;
            opacity: 1;

            ion-icon {
                color    : map-get($colors, primary);
                font-size: 2.7rem;
            }

            .tab-button-text {
                // FIX visibility of ionic tab when translate is not ready
                display: block;
            }

            &[aria-selected="true"] {
                color: map-get($colors, danger);

                ion-icon {
                    color: map-get($colors, danger);
                }
            }

            ion-badge {
                color           : #fff;
                background-color: #f53d3d;
                border-radius   : 10px;
            }
        }
    }

    // Split view
    &.split-view {

        // Only for landscape mode
        .tabbar {
            max-width: $split-pane-md-side-min-width - 1;

        }

        ion-nav.split-pane-main {

            .fixed-content,
            .scroll-content {
                margin-bottom: 90px !important;
            }
        }
    }

    ion-fab[bottom] {

        bottom: 25px !important;
    }

    .extern-card-button {
        border-style    : solid;
        border-radius   : 50%;
        transform       : scale(1.5);
        background-color: white;
        border          : 0 !important;
        box-shadow      : none !important;

    }


    /* .external-card-button {
        border-style    : solid;
        border-radius   : 50%;
        transform       : scale(1.5);
        background-color: white;


    }

    .internal-card-button {
        border-style : solid;
        border-radius: 50%;
        transform    : scale(1.4);
        border-width : 5px !important;
    } */

    .cardal-button {
        transform: scale(1.2);
        background-color: map-get($colors, danger);
        color           : map-get($colors, light);
        box-shadow   : 2px 8px 15px map-get($colors, danger) ;
        z-index: 2;

        ion-icon {
            font-size: 26px;
        }
    }
}