ion-icon {
    &[class*="custom-"] {
       mask-size: contain;
       mask-position: 50% 50%;
       mask-repeat: no-repeat;
       background: currentColor;
       width: 1em;
       height: 1em;
    }
    &[class*="custom-notifications"] {
       mask-image: url(../assets/icon/ico_notifiche.svg);
    }
    &[class*="custom-menu"] {
        mask-image: url(../assets/icon/ico_menu.svg);
     }
     &[class*="custom-calendario-rosso"] {
      mask-image: url(../assets/icon/Toolbar/ico_calendario_rosso.svg);
   }
    &[class*="custom-home-rosso"] {
      mask-image: url(../assets/icon/Toolbar/ico_home_rosso.svg);
   }
    &[class*="custom-impostazioni-rosso"] {
      mask-image: url(../assets/icon/Toolbar/ico_impostazioni_rosso.svg);
   }
    &[class*="custom-profilo-rosso"] {
      mask-image: url(../assets/icon/Toolbar/ico_profilo_rosso.svg);
   }
    &[class*="custom-teatri"] {
      mask-image: url(../assets/icon/ico_teatri.svg);
   }
   &[class*="custom-mostre"] {
      mask-image: url(../assets/icon/ico_mostre.svg);
   }
   &[class*="custom-search"] {
      mask-image: url(../assets/icon/ico_search.svg);
   }

 }