<navbar [pageName]="'DETAILPAGE'"></navbar>

<ion-content padding-left padding-right padding-top class="pageWithNavbar">

    <div [@fade-in-out]="visibleText" id="text">{{text}}</div>
    <br>
    <div [@fade-in-out]="visibleText" id="text">
        <button ion-button (tap)="makeGetReq()" >HTTP GET Req</button>
        <button ion-button (tap)="makePostReq()" >HTTP POST Req</button>
    </div>

    <br>
    <div [@fade-in-out]="visibleText" id="text" *ngIf="postResp">{{postResp}}</div>
    <br>
    <span *ngFor="let r of getResp"> 
        <div> - {{r.title}}</div>
        <hr>
    </span>
   

</ion-content>