navbar {

    .toggle{
        position: absolute;
        z-index: 10;
    }

    .invisible{
        visibility: hidden;
    }

    .back-button {
        position: absolute;
        z-index: 10;
    }

}
