navbar {

    .toggle{
        position: absolute;
        z-index: 10;
        color: black !important;

        .menu-icon{
            font-size: 16px;
            color: map-get($colors, google-gray);
        }
    }

    .invisible{
        visibility: hidden;
    }

    .back-button {
        position: absolute;
        z-index: 10;
    }

    #notification-icon{
        position: absolute;
        right: 20px;
        top: 18px;
        font-size: 22px;
        color: map-get($colors, google-gray);
    }


    #notifications-badge {
        background-color: #e5001c;
        height: 7px;
        width: 7px;
        position: absolute;
        top: 16px;
        right: 22px;
        border-radius: 50%;
    }

}
