// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.toolbar-footer {
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 20px;
}

.text-bold {
  font-weight: bold;
}

.pageWithNavbar {
  margin-top: 56px;

  .scroll-content {
    background: map-get($colors, home-back-gray);
  }
}

.pageWithTabs{
  margin-bottom: 100px;
}

ion-navbar.toolbar{
      height: 56px !important;
      padding: 0;
      border-bottom: 1px solid gray;
}

.toolbar-background {
  background-color: white !important;
}
.toolbar-title{
  color: map-get($colors, dark) !important;
}
ion-icon.back-button-icon.icon {
  color: map-get($colors, dark) !important;
}

ion-nav.main-app.content-hidden {
  background: map-get($colors, primary);

  ion-tabs.app-tabs {
    display: none;
  }

  @font-face {
    font-family: caslon3-bd;
    src: url(../assets/fonts/Caslon-bd.ttf) format("ttf");
  }
}
