scroll-friend {

    .friend-content{

        width: 75px;
        text-align: center;
        margin-top: 10px;
    }



        .backgroundImage {

            background-color: rgb(255, 47, 109);
            border-radius: 50%;
            height: 55px;
            width: 55px;
            margin: 0 10px;

        }


        

}
