side-menu {

    ion-header {
        #row-one{
            background-image: url('../assets/imgs/florence.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 90px;
        }
        #row-two{
            height: 90px;
        }

        .back-picture{
            position: absolute;
            top: 55px;
            background-color: white;
            left: 20px;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            z-index: 15;
            border: 1px solid black;
            padding: 6px;
            text-align: center;
            display: block;
        }
        .user-picture{
            background-image: url('../assets/imgs/UNIVERSITA_FIORENTINA@3x.png');
            background-size: cover;
            background-repeat: no-repeat;
            height:100%;
            width: 90%;
            margin-left: 5%;
            z-index: 16;
            
        }

        .toolbar-title {

            position: relative !important;
            top: 24px;
            font-size: 15px;

            .subtitle {
                position: relative !important;
                bottom: 8px;
                font-size: 70%;
                color: gray
            }
        }
    }

    ion-content {

        #menuList{
            padding-top: 186px !important;

            .bottomMenuButton{

                position: absolute;
                bottom: 0px;
            }

            .item{

                padding-left: 24px !important;
                color: gray !important;

            }
        }
        .scroll-content{
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
        }
    }


}
