page-login {
    ion-content.content-md {

        background-color: white;

        #registerForm {
            width: 80%;
            max-width: 300px;
            margin: 70px auto;
            text-align: center;
            height: 0px;

            h5 {
                color: map-get($colors, primary);
                font-weight: bold;
                margin-bottom: 20px;
            }

            .login-input-container {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-left: 0px;
                min-height: 0;

                .item-inner {
                    padding-right: 0px;
                    border: none;

                    input {
                        text-align: center;
                        padding-right: 0;
                    }
                }
            }

        }
    }

    .register-button{

        background-color: map-get($colors, danger);
        width: 90%;
        margin: 0 5%;
        position: absolute;
        bottom: 8vh;
    }
}
