page-login {
  .first-content {
    background-color: white;

    .register-form {
      width: 90%;
      margin: 0 5%;
      position: absolute;
      top: 22vh;

      .login-input-container {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 0px;
        min-height: 0;
        border-bottom: 1px solid black !important;

        #eye-icon {
          position: absolute;
          right: 0;
          bottom: 0;
        }

        .item-inner {
          padding-right: 0px;
          border: none;

          input {
            text-align: center;
            padding-right: 0;
          }
        }
      }
    }
    .barcode-circle {
      border-radius: 50%;
      height: 15vh;
      width: 15vh;
      background-color: black;
      margin-left: auto;
      margin-right: auto;
      padding-top: 4vh;
      margin-top: 5vh;
      text-align: center;
  
      .barcode-icon {
        background: url("../assets/imgs/barcode-black.png");
        filter: brightness(0) invert(1);
        background-repeat: no-repeat;
        background-size: cover;
        height: 7vh;
      }
      #barcode-label {
        margin-top: 5vh;
      }
    }
  }

  .second-content{

    background-color: white;
    text-align: center;

    .feeds-label {
      width: 90%;
      margin: 0 5%;
      position: absolute;
      top: 8vh;

      h5{
        font-weight: 300;
        font-size: 15px;
      }
    }
    .tags-div{
      width: 90%;
      margin: 0 5%;
      position: absolute;
      top: 22vh;
      padding: 16px;
    }
  }

  .login-button {
    background-color: map-get($colors, danger);
    width: 90%;
    margin: 0 5%;
    position: absolute;
    bottom: 8vh;
  }

  .login-button:disabled {
    background-color: map-get($colors, google-gray);
  }

  .swiper-pagination-bullet-active {
    background: map-get($colors, danger);
  }

}
