page-login {

  .first-content {
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;

    .register-form {
      width: 90%;
      margin: 0 5%;
      position: absolute;
      top: 30vh;
      //top: 275px;

      .login-input-container {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 0px;
        min-height: 0;
        border-bottom: 1px solid black !important;
        background-color: transparent !important;

        ion-input {

          input{
            margin-left: 0;
          }  

          ::placeholder{
              color:black !important;
              font-size: 16px !important;
              font-weight: bold;
              text-transform: uppercase;
          }
      }

        #eye-button {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 40px;
          width: 40px;
          background-color: transparent;
          padding: 0;
          margin-bottom: 4px;
        }

        #eye-icon {
          font-size: 30px;
        }

        .item-inner {
          padding-right: 0px;
          border: none;

          input {
            text-align: left;
            padding-right: 0;
          }
        }
      }
    }
    .barcode-circle {
      border-radius: 50%;
      height: 15vh;
      width: 15vh;
      background-color: black;
      margin-left: auto;
      margin-right: auto;
      padding-top: 4vh;
      margin-top: 7vh;
      text-align: center;

      .barcode-icon {
        background: url("../assets/imgs/barcode-black.png");
        filter: brightness(0) invert(1);
        background-repeat: no-repeat;
        background-size: cover;
        height: 7vh;
      }
    }
    #barcode-label {
      margin-top: 2vh;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .second-content {
    background-color: white;
    text-align: center;

    .tags-div {
      width: 90%;
      margin: 0 5%;
      position: absolute;
      //top: 310px;
      top: 40vh;
    }
  }

  .third-content {
    background-color: white;

    .ateneo {
      position: absolute;
      top: 36vh;
      width: 100%;
      ion-row {
        margin: 0 40px;
        ion-col {
          padding: 20px;
          border-radius: 30%;
          img{
            width: 110px !important;
          }
        }
      }

      .ateneo-selected{

        background-color: lightgray;
      }
    }
  }

  .feeds-ateneo-label {
    height: 140px;
    width: 80%;
    margin: 0 10%;
    position: absolute;
    //top: 170px;
    top: 16vh;

    h3 {
      font-weight: 600;
      font-size: 30px;
    }
    h5 {
      font-weight: 300;
      font-size: 15px;
    }
  }

  .login-button {
    background-color: map-get($colors, danger);
    width: 90%;
    margin: 0 5%;
    position: absolute;
    //top: 650px;
    height: 40px;
    top: calc( 86vh - constant(safe-area-inset-bottom));
    top: calc( 86vh - env(safe-area-inset-bottom));
    border-radius: 5px;

  }

  .login-button:disabled {
    background-color: map-get($colors, google-gray);
  }

  .swiper-pagination-bullet-active {
    background: map-get($colors, google-gray);
  }

/*   .swiper-slide {
    overflow-y: scroll;
  } */
}
