rt-logo {

    #rt-logo{
        text-align: center;

        .navbar-image{
            
            background-size: 100%;
            background-repeat: no-repeat;
            height: 55px;
            width: 50px;
            margin: 0 auto;
        }

    }
    
}
