rt-logo {

    #rt-logo{
        text-align: center;
        h3{
            font-family: caslon3-bd !important;
            margin: 0px;
            font-size: 6px;
        }

        .navbar-image{
            background-image: url('../assets/imgs/rt-logo.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 32px;
            width: 28px;
            margin: 0 auto;
        }

    }
    
}
