rt-logo {

    #rt-logo{
        text-align: center;

        .navbar-image{
            background-image: url('../assets/imgs/uni-firenze.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 55px;
            width: 50px;
            margin: 0 auto;
        }

    }
    
}
