scroll-event {

    .event-content{

        height: 200px;
        width: 152px;
        text-align: center;
    }

    ion-card {
        height: 178px !important;
        width: 130px !important;
        display: inline-block;
        border-radius: 20px !important;
        box-shadow: 1px 2px 15px -4px map-get($colors, dark) !important;

        .backgroundImage {

            background-color: rgb(255, 47, 109);
            height: 110px;
        }

        .eventIcon{

            position: relative;
            left: 40px;
            bottom: 25px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            box-shadow: 0px 1px 9px -5px black;
            background-color: white;

            ion-icon {

                font-size: 35px;
                margin: 8px 0;
            }
        }

        .description {
            width: 100%;
            height: 68px;
            text-align: center;
            position: relative;
            bottom: 20px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            p{
                width: 100%;
                color: gray;
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

}
